@charset 'utf-8';
*{margin: 0;padding: 0;}
body{height: 100%;background-color: #000;}
#wrap{height: 550px;width: 380px;margin: 20px auto;border: 10px solid #fff;}
#home{position: relative;;width: 100%;height: 100%;overflow: hidden;}
h1{padding: 40px 20px 60px 20px;text-align: center;color: #fff;}
.select{width: 30%;height: 30px;;line-height: 30px;margin: 40px auto;text-align: center;background-color: #fff;font-size: 20px;font-weight: bold;color: #000;border-radius: 6px;cursor: pointer;transition: .8s;}
.select:hover{box-shadow: -2px 4px 8px #999;transform: scale(1.4);transition: .2s;}
img{position: absolute;}

/* 游戏结束 */
.over{position: absolute;left: 0;right:0;margin:225px auto;width: 200px;height: 100px;background-color: #fff;text-align: center;line-height: 100px;}
span{display: inline-block;width: 60%;height: 40px;text-align: center;line-height: 40px;background-color: #ff0;cursor: pointer;}